<!--
  The header should contain:
  - a 'Home' icon
  - basic navigation
  - "Search" input
  - "sign in" / "sign out"
-->

<!-- Navigation -->
<header>
    <ul class="w3-navbar w3-light-green w3-large">
      <li>
          <a><img height="26" alt="Home" src="./assets/images/ic_home_black_24px.svg" />
          </a>
      </li>
      <li>
        <a href="#">Item-1</a>
      </li>
      <li>
        <a href="#">Item-2</a>
      </li>
      <!--
      <li>
        <button href="#menu" id="nav-link">&#9776; Menu</button>
      </li>
    -->
    </ul>
</header>


<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<p>This is some sample project</p>

<h3>Here are some links to help you start:</h3>
<ul>
  <li>
    <a target="_blank" href="./assets/git-info.pdf">git-info.pdf</a>
  </li>
  <li>
    <a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" href="https://blog.angular.io/">Angular blog</a>
  </li>
  <li>
    <a target="_blank" href="http://bradfrost.com/blog/web/responsive-nav-patterns/">Responsive Navigation Patterns</a>
  </li>

  <li>
    <a target="_blank" href="https://material.io/icons/">Material Icons</a>
    
</li>

</ul>
