header {
    background-color: rgb(172, 202, 39);    
}

footer {
    background-color: rgb(172, 202, 39);
}

/*
ul {
    margin: 0;
    border: 1px solid;
    padding: 0;
}
*/

/*
nav li {
    display: inline-block;
}
*/
/*
.navi {
    margin-bottom: 0px;
    border: 1px solid;
    padding: 0px;
    display: inline-block;
}
*/

/*
img {
    margin: 0px;
}
*/
