<header>
  <ul class="w3-navbar w3-light-green w3-large">
    <li>
      <a routerLink="/home">
        <img height="26" alt="Home" src="./assets/images/ic_home_black_24px.svg" />
      </a>
    </li>
    <li>
      <a routerLink="/units">Units</a>
    </li>
    <li>
      <a routerLink="/help">Help</a>
    </li>
    <li>
      <a href="https://www.w3schools.com/">W3 Schools</a>
    </li>
    <li>
      <a href="https://www.plm.automation.siemens.com/global/en/">Siemens PLM</a>
    </li>
    <!--
    <li>
      <button href="#menu" id="nav-link">&#9776; Menu</button>
    </li>
  -->
  </ul>
</header>